// Put here all the styles you want to add or edit
$font-family-base: 'Effra', sans-serif;
$font-family-alt: 'Boing', sans-serif;
// Base color 1 (Site color 1)
$color-base-1: #F92D2D; //#e61728; //#1C6BA0 #4579ef
$color-base-text-1: #FFF;

// Base color 2 (Site color 2)
$color-base-2: #232323;
$color-base-text-2: #FFF;
